/* features
******************************************/

.features {
  padding-top: 40px;
}

.features__item {
  margin: 0 20px;
  padding: 0 0 35px 50px;
  text-align: left;
}

.features__title {
  color: #000;
}

.devils-bridge {
  background: url(../img/photo-bridge@1x.jpg) no-repeat center;
  background-size: cover;
}
