/* interesting block
******************************************/

.interesting {
  padding: 30px 20px 0 20px;
}

.interesting__title {
  font-size: 21px;
  margin-bottom: 20px;
}

.interesting__content {
  line-height: 24px;
  margin-bottom: 20px;
}

.interesting__btn {
  margin-bottom: 30px;
}
