/* reason block
******************************************/

.reason {
  padding: 40px 20px 0 20px;
  background-color: $reason-bgcolor;
  color: white;
}

.reason__decorative {
  padding-top: 65px;
  background: #81b3d2 url(../img/bg-triangle.svg) no-repeat center top;
}

.reason__title {
  padding-bottom: 10px;
}

.reason__number {
  padding-bottom: 10px;
}

.reason__img {
  min-height: 260px;
  margin: 0 -20px 0 -20px;
}

.reason__content {
  padding-bottom: 40px;
}

.real-city {
  background: url(../img/photo-city@1x.jpg) no-repeat center;
  background-size: cover;
}
